extends layout

block content
    if isDocente 
        .w3-card-4
            header.w3-container.w3-indigo
                h1 Editar Perfil de #{docente.nome}

            form.w3-container.w3-margin-bottom.w3-margin-top(method="POST" enctype="multipart/form-data")
                fieldset.w3-light-gray
                    .w3-section
                        label Identificador: 
                        input.w3-input.w3-border(type="text" name="_id")
                    .w3-section
                        label Nome:
                        input.w3-input.w3-border(type="text" name="nome")
                    .w3-section
                        label Categoria:
                        input.w3-input.w3-border(type="text" name="categoria")
                    .w3-section
                        label Filiação:
                        input.w3-input.w3-border(type="text" name="filiacao")
                    .w3-section
                        label Email:
                        input.w3-input.w3-border(type="text" name="email")
                    .w3-section
                        label Página Web:
                        input.w3-input.w3-border(type="text" name="webpage")
                    .w3-section
                        label Foto de perfil:
                        input.w3-input.w3-border.w3-white(type="file" name="foto")
                    
                button.w3-btn.w3-black.w3-right.w3-margin-top(type="submit") Confirmar 

            footer.w3-container.w3-indigo
                h4.w3-center WhiteBoard, Jun 2024 - Powered by 
                    a(href="https://www.w3schools.com/w3css/default.asp") w3.css
    else 
        .w3-card-4
            header.w3-container.w3-indigo
                h1 Editar Perfil de #{aluno.nome}

            form.w3-container.w3-margin-bottom.w3-margin-top(method="POST" enctype="multipart/form-data")
                fieldset.w3-light-gray
                    .w3-section
                        label Identificador: 
                        input.w3-input.w3-border(type="text" name="_id")
                    .w3-section
                        label Nome:
                        input.w3-input.w3-border(type="text" name="nome")
                    .w3-section
                        label Email:
                        input.w3-input.w3-border(type="text" name="email")
                    .w3-section
                        label Curso:
                        input.w3-input.w3-border(type="text" name="curso")
                    .w3-section
                        label Foto de perfil:
                        input.w3-input.w3-border.w3-white(type="file" name="foto")
                    
                button.w3-btn.w3-black.w3-right.w3-margin-top(type="submit") Confirmar 

            footer.w3-container.w3-indigo
                h4.w3-center WhiteBoard, Jun 2024 - Powered by 
                    a(href="https://www.w3schools.com/w3css/default.asp") w3.css