extends layout 

block content
    .w3-card-4
        header.w3-container.w3-teal
            h2= title
        form.w3-container(action="/login" method="POST")
            .w3-section
                label.w3-text-teal(for="username") Identificador do utilizador:
                input.w3-input.w3-border(type="text" name="id" id="id" required)
            .w3-section
                label.w3-text-teal(for="password") Palavra-passe:
                input.w3-input.w3-border(type="password" name="password" id="password" required)
            .w3-section
                input.w3-button.w3-teal(type="submit" value="Entrar")

        .w3-section
            a.w3-button.w3-light-gray.w3-block(href="/registoAluno") Registo de Aluno
        .w3-section
            a.w3-button.w3-light-gray.w3-block(href="/registoDocente") Registo de Docente

        footer.w3-container.w3-teal
            h4 WhiteBoard - #{data}