extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            .w3-row
                .w3-col.s1
                    a(href="/")
                        img(src="/images/back.png" alt="Back" class="w3-image" style="width:50px; height:50px; margin-top: 8px;")
                .w3-col.s5
                    h2= title
        form.w3-container(method="POST")
            fieldset
                legend Informações do Docente
                .w3-section
                    label Número de Docente: 
                    input.w3-input.w3-round(type="text" name="_id")
                .w3-section
                    label Nome:
                    input.w3-input.w3-round(type="text" name="nome")
                .w3-section
                    label Categoria:
                    input.w3-input.w3-round(type="text" name="categoria")
                .w3-section
                    label Filiação:
                    input.w3-input.w3-round(type="text" name="filiacao")
                .w3-section
                    label Email:
                    input.w3-input.w3-round(type="text" name="email")
                .w3-section
                    label Página Web:
                    input.w3-input.w3-round(type="text" name="webpage")
                .w3-section
                    label Foto de perfil:
                    input.w3-input.w3-border.w3-light-grey(type="file" name="foto")
                
            button.w3-btn.w3-gray.w3-mb-2(type="submit") Registar

        footer.w3-container.w3-teal
            h4 WhiteBoard - #{data}
